.offers {
    width: 90%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    margin-bottom: 100px; 
    background-color: pink;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 36px; 
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 18px; 
    font-weight: 600;
}

.offers-left button {
    width: 100%; 
    max-width: 282px; 
    height: 50px; 
    border-radius: 25px; 
    background: #ff4141;
    border: none;
    color: white;
    font-size: 18px; 
    font-weight: 500;
    margin-top: 20px; 
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 20px; 
}

.offers-right img {
   width:  20%; 
    height: auto; 
    max-height: 400px; 
}
/* Media Query for small screens */
@media screen and (max-width: 600px) {
    .offers {
        padding: 10px; 
    }

    .offers-left h1 {
        font-size: 24px; 
    }

    .offers-left p {
        font-size: 16px; 
    }

    .offers-left button {
        font-size: 16px; 
    }
}
